header h1{
    text-align: center;
    position: relative;
    margin-bottom: 0px;
}
.countdown{
    text-align: center;
    font-size: 64px;
}
.tombol{
    text-align: center;
}
.button{
    background: linear-gradient(0deg, #055C5C -64.71%, #B0EDEB 137.63%);
    border-radius: 22px;
    padding: 10px 40px 10px 40px;
    border-color: transparent;
}
header .container {
    position: relative;
    z-index: 1;
}

.countdown li{
    display: inline-block;
    font-size: 15px;
    list-style-type: none;
    padding: 1px;
}
  
#days, #hours, #minutes, #seconds {
    display: block;
    font-size: 50px;
    margin: 15px;
}
  
